{% extends 'main/layout.html' %}

{% block title %}contacts{% endblock %}

{% block body %}
    <div class="contacts">
        <div id="contact-img">
            <div class="phones">
                <span><i class="fa-sharp fa-solid fa-phone"></i> телефон:</span>
                <span>+380639919991</span>
                <span>+380959275199</span>
            </div>
            <i id="logo-contacts" class="fa-regular fa-address-card"></i>
        </div>
        <div><i class="fa-brands fa-telegram"></i> telegram: username_dmytro</div>
        <div class="addresses">
            <span><i class="fa-solid fa-map-location-dot"></i> адреса:</span>
            <span>(пункт Академмістечко): м.Київ, вул.Малинська 2а</span>
            <span>(пункт Відрадний): м.Київ, вул.Суздальська 43</span>
        </div>
    </div>
{% endblock %}